$body-pattern: 'assets/images/body-pattern.jpg';
$dark-pattern:'assets/images/dark-pattern.jpg';
$white-pattern-style-top:'assets/images/bottom-pattern.png';
$white-pattern-style-side:'assets/images/side battern.png';
$menu-icon-color: black;
$hover-color: #4c8f48;
$light-color: white;
$font-dark:black;
