.blog {
    .blog-contents {
      .blog-post {
        .text-multiline-truncate {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  