/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "styles/mainVariables";
@import "styles/mixins";
@import "styles/mainClasses";
@import "~@ng-select/ng-select/themes/default.theme.css";

nav {
  .nav-wrapper {
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1100;

    .mobile-list-icon {
      cursor: pointer;
      width: 23px;
      height: 20px;
      outline: none;
      display: block;
      transition: all 100ms;

      div {
        background-color: $menu-icon-color;
        width: 23px;
        height: 4px;
        transition: transform 100ms, background-color 2s;

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      &.menu-open {
        .b {
          display: none;
        }

        .a {
          transform: rotate(45deg) translate(9px, 6px);
          background-color: $light-color;
        }

        .c {
          transform: rotate(-45deg) translateY(4px);
          background-color: $light-color;
        }
      }
    }
  }

  .menu-mobile-list {
    left: 0;
    top: 0;
    padding-top: 120px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100%);
    background-image: url($dark-pattern);
    z-index: 1000;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    &.active {
      transform: translateX(0);
    }

    .item-style {
      color: #FFF;
      text-decoration: none;
      margin: 10px 10px;
      font-size: 20px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer;

      &:before{
        position: absolute;
        opacity: 0.5;
        height: 95%;
        width: 2px;
        content: '';
        background: $hover-color;
        transition: all 150ms;
      }
      &:after{
        position: absolute;
        opacity: 0.5;
        height: 95%;
        width: 2px;
        content: '';
        background: $hover-color;
        transition: all 200ms;
      }
      &:before{
        left: 0px;
        top: 0px;
      }
      &:after{
        right: 0px;
        bottom: 0px;
      }
      &:hover:after {
        opacity: 1;
        height: 2px;
        width: 100%;
      }
      &:hover:before {
        opacity: 1;
        height: 2px;
        width: 100%;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 200;
  width: 100%;
  transform: translateY(0);
  transition: transform 100ms;

  &.nav-open {
    transform: translateY(100%);
  }

  .footer-wrapper {
    padding-top: 31px;
    padding-bottom: 20px;
    background-image: url($dark-pattern);

    &:before {
      display: block;
      content: "";
      //background-image: url($white-pattern-style-top);
      width: 100%;
      top: -1px;
      position: absolute;
      height: 15px;
    }

    .carBrands {
      width: 100%;
    }
  }
}

.home-header {
  background-image: url($body-pattern);
  color: $font-dark;

  .home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
    }

    .homeImage {
      flex-basis: 70%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .carousel {
    .slide-control-style {
      color: $menu-icon-color;
    }

    .carousel-indicators {
      margin-bottom: 105px;

      li {
        background-color: $menu-icon-color;
      }
    }
  }
}

//login form style
@import "styles/loginComp";


//profile component
.profile-component {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  //background-image: url($body-pattern);
  width: 100%;
  height: 100vh;

  .profile-wrapper {
    position: relative;
    background-image: url($dark-pattern);

    // &:before {
    //   display: block;
    //   content: "";
    //   //background-image: url($white-pattern-style-top);
    //   width: 100%;
    //   top: 0;
    //   left: 0;
    //   position: absolute;
    //   height: 15px;
    // }

    // &:after {
    //   display: block;
    //   content: "";
    //   //background-image: url($white-pattern-style-top);
    //   width: 100%;
    //   left: 0;
    //   transform: rotate(180deg);
    //   bottom: -1px;
    //   position: absolute;
    //   height: 15px;
    // }

    // .right-style {
    //   position: absolute;
    //   background-image: url($white-pattern-style-side);
    //   width: 15px;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    // }

    // .left-style {
    //   position: absolute;
    //   background-image: url($white-pattern-style-side);
    //   width: 15px;
    //   top: 0;
    //   transform: rotate(180deg);
    //   right: -1px;
    //   height: 100%;
    // }
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    .customDiv{
      border-style: ridge;
    }
  }
}


//blogggggggggggggggggggggggggggggg
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }

  .blog {
  .blog-contents {
    .blog-post {
      .text-multiline-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}


//////products detailllllllllllls/////////////////////
.products-details{
  .accordion ul{
  list-style: none;
  cursor: pointer;
  }

  .accordion ul li{
  cursor: pointer;
  }

  .accordion ul li.active{
  color:red;
  }

  .clearfix{
  clear: both;
  }
}

///////////////terms and conditions 
.terms-conditions{
  .privacy {
  margin:10px;
  padding: 3px;
  direction: rtl !important;
  text-align: right;
  }

  .privacy button{
  float: left;
  }
}

///////////////////////////aboutus 
.about-us{
    .team-section {
    overflow: hidden;
    text-align: center;
    background: rgb(0, 0, 0);
    padding: 60px;
  }

  .team-section h1 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 60px;
    font-size: 40px;
  }

  .border {
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: rgb(219, 63, 63);
    margin-bottom: 40px;
  }

  .ps {
    margin-bottom: 40px;
  }

  .ps a {
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
  }

  .ps a img {
    width: 175px;
    filter: opacity(70%);
    transition: 0.4s all;
  }

  .ps a:hover > img {
    filter: none;
  }

  .section {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
  }

  .section:target {
    height: auto;
  }

  .name {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
  }

  /* about us */
  .about-section {
    background: url(./assets/Images/car1.jpeg) no-repeat left;
    background-size: 50%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 2rem;
    /* margin-top:100px; */
  
  }

  .inner-container {
    width: 60%;
    float: right;
    background-color: #fdfdfd;
    padding: 60px;
    border-radius: 2%;
  }

  .inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
  }

  .text {
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    font-weight: 700;
    text-align: justify;
  }

  .skills {
    display: block;
    overflow: hidden;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
  }
}


////////////////////contact us
.contact-us{
    h1,
  h2,
  h3 {
    margin: 4px 0 35px 0;
    letter-spacing: 1px;
  }

  p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.6em;
  }

  .inputheight {
    height: 15rem;
  }

  .form-control:focus {
    border-color: #181818;
    transition: all .2s ease-in-out;
    transform: scale(1.18);

    
  }

  #contact .card:hover i,#contact .card:hover h4{
    color: #920b0b;
  }

  ul{
    padding-top: 40px;
  }

  li{
    margin-right:3rem;
  }

  li a {
    background-color: #f7f7f7;
    color: #181616;
  }

  li a:hover,
  li a:focus,
  button {
    text-decoration: none;
    background-color: #d80606;
  }

  #contact {
    background: #1f1e1e;
    color: #f4f4f4;
    padding: 50px;
  }

  textarea.form-control {
    height: 100px;
    resize: none;
  }
}


////////////////////////////////////////////////////////////////////////////////vendor profile
.vendor-profile{
    .hr{
    margin: 3%;
    height: 3px;
    border-width: 0;
    color: #E00A10;
    background-color:#E00A10;
  }

  .bg{
    background-image: url(./assets/Images/body-pattern.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  /*ITEMS*/

  /* body {
  background: #eee;
  font-family: arial, helvetica, sans-serif;
  margin: 50px auto;
  padding: 0;
  } */

  #wrapper {

  margin: 0 auto;
  }
  /*
  #wrapper {
  perspective: 2500;
  -webkit-perspective: 2500;
  width: 800px;
  margin: 200px auto 0 auto;
  perspective-origin: 50% 150px;
  -webkit-perspective-origin: 50% 150px;
  transition: perspective, 1s;
  -o-transition: -o-perspective, 1s;
  -moz-transition: -moz-perspective, 1s;
  -webkit-transition: -webkit-perspective, 1s;
  } */

  #image:hover {
  animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -webkit-animation-play-state:paused;
  }


  @-webkit-keyframes spin {
  from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
  }

  #image {
    margin: 0 auto;
    margin-bottom: 200px;
  height: 300px;
  width: 400px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: spin 24s infinite linear;
  -moz-animation: spin 24s infinite linear;
  -o-animation: spin 24s infinite linear;
  -webkit-animation: spin 24s infinite linear;
  }

  .image {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;


  }

  #image > .i1 {
  /* background: #49c5b6; */
  transform: translateZ(485px);
  -moz-transform: translateZ(485px);
  -o-transform: translateZ(485px);
  -ms-transform: translateZ(485px);
  -webkit-transform: translateZ(485px);
  }
  #image > .i2 {
    /* background: #2b7970; */
  transform: rotateY(45deg) translateZ(485px);
  -moz-transform: rotateY(45deg) translateZ(485px);
  -o-transform: rotateY(45deg) translateZ(485px);
  -ms-transform: rotateY(45deg) translateZ(485px);
  -webkit-transform: rotateY(45deg) translateZ(485px);
  }
  #image > .i3 {
  /* background: #ffc907; */
  transform: rotateY(90deg) translateZ(485px);
  -moz-transform: rotateY(90deg) translateZ(485px);
  -o-transform: rotateY(90deg) translateZ(485px);
  -ms-transform: rotateY(90deg) translateZ(485px);
  -webkit-transform: rotateY(90deg) translateZ(485px);
  }
  #image > .i4 {
  /* background: #a1b400; */
  transform: rotateY(135deg) translateZ(485px);
  -moz-transform: rotateY(135deg) translateZ(485px);
  -o-transform: rotateY(135deg) translateZ(485px);
  -ms-transform: rotateY(135deg) translateZ(485px);
  -webkit-transform: rotateY(135deg) translateZ(485px);
  }
  #image > .i5 {
  /* background: #b02d15; */
  transform: rotateY(180deg) translateZ(485px);
  -moz-transform: rotateY(180deg) translateZ(485px);
  -o-transform: rotateY(180deg) translateZ(485px);
  -ms-transform: rotateY(180deg) translateZ(485px);
  -webkit-transform: rotateY(180deg) translateZ(485px);
  }
  #image > .i6 {
  /* background: #3099b4; */
  transform: rotateY(225deg) translateZ(485px);
  -moz-transform: rotateY(225deg) translateZ(485px);
  -o-transform: rotateY(225deg) translateZ(485px);
  -ms-transform: rotateY(225deg) translateZ(485px);
  -webkit-transform: rotateY(225deg) translateZ(485px);
  }
  #image > .i7 {
  /* background: #ae3424; */
  transform: rotateY(270deg) translateZ(485px);
  -moz-transform: rotateY(270deg) translateZ(485px);
  -o-transform: rotateY(270deg) translateZ(485px);
  -ms-transform: rotateY(270deg) translateZ(485px);
  -webkit-transform: rotateY(270deg) translateZ(485px);
  }
  #image > .i8 {
  background-color: #ff0002;
  transform: rotateY(315deg) translateZ(485px);
  -moz-transform: rotateY(315deg) translateZ(485px);
  -o-transform: rotateY(315deg) translateZ(485px);
  -ms-transform: rotateY(315deg) translateZ(485px);
  -webkit-transform: rotateY(315deg) translateZ(485px);
  }



  .meow{
  font-size: larger;
  color: #6b2a2c;
  background-color: grey;
  }
}



////////////////////////////////////////reset password 
.reset-password{
    /* Pen Title */
  .pen-title {
    padding: 50px 0;
    text-align: center;
    letter-spacing: 2px;
  }
  .pen-title h1 {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: 300;
  }
  .pen-title span {
    font-size: 12px;
  }
  .pen-title span .fa {
    color: #EA001E;
  }
  .pen-title span a {
    color: #EA001E;
    font-weight: 600;
    text-decoration: none;
  }

  /* Rerun */
  .rerun {
    margin: 0 0 30px;
    text-align: center;
  }
  .rerun a {
    cursor: pointer;
    display: inline-block;
    background: #EA001E;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
  }
  .rerun a:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  /* Scroll To Bottom */
  #codepen, #portfolio {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #363636;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.3s ease;
    color: #ffffff;
    text-align: center;
  }
  #codepen i, #portfolio i {
    line-height: 56px;
  }
  #codepen:hover, #portfolio:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  /* CodePen */
  #portfolio {
    bottom: 96px;
    right: 36px;
    background: #EA001E;
    width: 44px;
    height: 44px;
    -webkit-animation: buttonFadeInUp 1s ease;
    animation: buttonFadeInUp 1s ease;
  }
  #portfolio i {
    line-height: 44px;
  }

  /* Container */
  .container {
    position: relative;
    //max-width: 460px;
    //width: 100%;
    //margin: 0 auto 100px;
  }
  .container.active .card:first-child {
    background: #f2f2f2;
    margin: 0 15px;
  }
  .container.active .card:nth-child(2) {
    background: #fafafa;
    margin: 0 10px;
  }
  .container.active .card.alt {
    top: 20px;
    right: 0;
    width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 60px 0 40px;
    overflow: hidden;
  }
  .container.active .card.alt .toggle {
    position: absolute;
    top: 40px;
    right: -70px;
    box-shadow: none;
    transform: scale(10);
    transition: transform 0.3s ease;
  }
  .container.active .card.alt .toggle:before {
    content: "";
  }
  .container.active .card.alt .title,
  .container.active .card.alt .input-container,
  .container.active .card.alt .button-container {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
  }
  .container.active .card.alt .title {
    transition-delay: 0.3s;
  }
  .container.active .card.alt .input-container {
    transition-delay: 0.4s;
  }
  .container.active .card.alt .input-container:nth-child(2) {
    transition-delay: 0.5s;
  }
  .container.active .card.alt .input-container:nth-child(3) {
    transition-delay: 0.6s;
  }
  .container.active .card.alt .button-container {
    transition-delay: 0.7s;
  }

  /* Card */
  .card {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.3s ease;
    /* Title */
    /* Inputs */
    /* Button */
    /* Footer */
    /* Alt Card */
  }
  .card:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
  }
  .card .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #EA001E;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #EA001E;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .card .input-container {
    position: relative;
    margin: 0 60px 50px;
  }
  .card .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;
    font-size: 24px;
    font-weight: 400;
  }
  .card .input-container input:focus ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
  }
  .card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
  }
  .card .input-container input:valid ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
  }
  .card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    transition: 0.2s ease;
  }
  .card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
  }
  .card .input-container .bar:before, .card .input-container .bar:after {
    content: "";
    position: absolute;
    background: #EA001E;
    width: 0;
    height: 2px;
    transition: 0.2s ease;
  }
  .card .input-container .bar:before {
    left: 50%;
  }
  .card .input-container .bar:after {
    right: 50%;
  }
  .card .button-container {
    margin: 0 60px;
    text-align: center;
  }
  .card .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.3s ease;
  }
  .card .button-container button span {
    position: relative;
    z-index: 1;
    color: #ddd;
    transition: 0.3s ease;
  }
  .card .button-container button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #EA001E;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    transition: 0.3s ease;
  }
  .card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
    border-color: #EA001E;
  }
  .card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
    color: #EA001E;
  }
  .card .button-container button:active span, .card .button-container button:focus span {
    color: #ffffff;
  }
  .card .button-container button:active:before, .card .button-container button:focus:before {
    opacity: 1;
    transform: scale(10);
  }
  .card .footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
  .card .footer a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease;
  }
  .card .footer a:hover {
    color: #bababa;
  }
  .card.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    transition: 0.3s ease;
    /* Toggle */
    /* Title */
    /* Input */
    /* Button */
  }
  .card.alt .toggle {
    position: relative;
    background: #EA001E;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    font-size: 58px;
    line-height: 140px;
    text-align: center;
    cursor: pointer;
  }
  .card.alt .toggle:before {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  .card.alt .title,
  .card.alt .input-container,
  .card.alt .button-container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
  }
  .card.alt .title {
    position: relative;
    border-color: #ffffff;
    color: #ffffff;
  }
  .card.alt .title .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 60px;
    display: inline;
    color: #ffffff;
    font-size: 58px;
    font-weight: 400;
  }
  .card.alt .title .close:before {
    content: "×";
  }
  .card.alt .input-container input {
    color: #ffffff;
  }
  .card.alt .input-container input:focus ~ label {
    color: #ffffff;
  }
  .card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
    background: #ffffff;
  }
  .card.alt .input-container input:valid ~ label {
    color: #ffffff;
  }
  .card.alt .input-container label {
    color: rgba(255, 255, 255, 0.8);
  }
  .card.alt .input-container .bar {
    background: rgba(255, 255, 255, 0.8);
  }
  .card.alt .button-container button {
    width: 100%;
    background: #ffffff;
    border-color: #ffffff;
  }
  .card.alt .button-container button span {
    color: #EA001E;
  }
  .card.alt .button-container button:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  .card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
    display: none;
  }

  /* Keyframes */
  @-webkit-keyframes buttonFadeInUp {
    0% {
      bottom: 30px;
      opacity: 0;
    }
  }
  @keyframes buttonFadeInUp {
    0% {
      bottom: 30px;
      opacity: 0;
    }
  }
}
