<section class="home-header">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <div class="home container">
          <div class="info">
            <h1>Find Your Car Parts Now</h1>
            <p>dasd asd asd as asd ass ass asdad ad<br> sadasdasd sadasd</p>
          </div>
          <div class="homeImage">
            <img src="../../../../../assets/images/pngegg.png" alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="home container">
          <div class="homeImage">
            <img src="../../../../../assets/images/unnamed.png" alt="">
          </div>
          <div class="info p-3">
            <h1>Best Selling</h1>
            <p>Check the best selling car parts now</p>
            <button class="btn btn-success"><a href="#">Show Products</a></button>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="slide-control-style" aria-hidden="true">
        <svg width="50" height="50" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg>
      </span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
      <span class="slide-control-style" aria-hidden="true">
        <svg  width="50" height="50" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></span>
    </a>
  </div>
</section>
