
/* You can add global styles to this file, and also import other style files */
@import "styles/buttonStyles";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "styles/_mainVariables";
@import "styles/mixins";
@import "styles/mainClasses";
// @import "~@ng-select/ng-select/themes/default.theme.css";

//login form style
@import "styles/loginComp";

//profile component
@import "styles/userProfile";

//blogggggggggggggggggggggggggggggg
@import "styles/blogList";

//////products detailllllllllllls/////////////////////
@import "styles/productsDetails";

///////////////terms and conditions 
@import "styles/termsConditions";

///////////////////////////aboutus 
@import "styles/aboutUs";

////////////////////contact us
@import "styles/contactUs";

////////////////////////////////////////////////////////////////////////////////vendor profile
@import "styles/vendorProf-usrComp";


// new nav bar
@import 'styles/newNav';

//homepage
@import 'styles/homePage';
@import 'styles/homePage2';
@import 'styles/signform';

//ads component
@import 'styles/adsComp';

//profile component
@import 'styles/myProfile';

//review component
@import 'styles/review';

//sign choice component
@import 'styles/signChoice';


//sign choice component
@import 'styles/vendorSignForm';

//sign choice component
@import 'styles/magdyNav';

//Loading
@import 'styles/loading';

//footer
@import 'styles/footer';

//add blog
@import 'styles/addBlog';

//dropdown
@import 'styles/dropdown';

//productFilter
@import 'styles/productFilter';

//productList
@import 'styles/productList';

//vendor as admin
@import'styles/vendorAdmin';

//profile picture
@import'styles/profpic';

//my blog posts
@import'styles/myblogposts';

//bookmarked posts
@import'styles/bookmarkedposts';

//favourite items
@import'styles/favouriteitems';

//recent views
@import'styles/recentviews';

//simple box
@import'styles/box';

//simple product comp
@import'styles/productComp';

//simple loginButton
@import'styles/loginButton';

//simple userIcon
@import'styles/userIcon';

//simple search
@import'styles/search';

//simple blogDetails
@import'styles/blogDetails';

//simple contactUsPic
@import'styles/contactUsPic';

//item entry
@import'styles/itemEntry';

//simple delete blog button
@import 'styles/simpleDelete';

//slider style
@import 'styles/sliderstyle';


//Vendor product Filter
@import 'styles/productFilterVendor';

@import'styles/paginate';

@import'styles/logo';

@import'styles/Ads2';

@import'styles/language';


//background
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  overflow: hidden;
  // background-color: #00163b;
  // background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  // background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  // -webkit-animation: bg-scrolling-reverse 3.92s infinite;
  // -moz-animation: bg-scrolling-reverse 3.92s infinite;
  // -o-animation: bg-scrolling-reverse 3.92s infinite;
  // animation: bg-scrolling-reverse 3.92s infinite;
  // -webkit-animation-timing-function: linear;
  // -moz-animation-timing-function: linear;
  // -o-animation-timing-function: linear;
  // animation-timing-function: linear;
  // background: linear-gradient(to right, #ffffff,  rgb(68, 66, 66));
  // background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rp-bentley-continental-gt-v8-20-2-1570633139.jpg")no-repeat center center fixed ;
  // background: url("./assets/Images/pexels-anete-lusina-63310822222.jpg")no-repeat center center fixed ;

  // background: #dcdcdc;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  .nav-wrapper {
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1100;

    .mobile-list-icon {
      cursor: pointer;
      width: 23px;
      height: 20px;
      outline: none;
      display: block;
      transition: all 100ms;

      div {
        background-color: $menu-icon-color;
        width: 23px;
        height: 4px;
        transition: transform 100ms, background-color 2s;

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      &.menu-open {
        .b {
          display: none;
        }

        .a {
          transform: rotate(45deg) translate(9px, 6px);
          background-color: $light-color;
        }

        .c {
          transform: rotate(-45deg) translateY(4px);
          background-color: $light-color;
        }
      }
    }
  }

  .menu-mobile-list {
    left: 0;
    top: 0;
    padding-top: 120px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100%);
    background-image: url($dark-pattern);
    z-index: 1000;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    &.active {
      transform: translateX(0);
    }

    .item-style {
      color: #FFF;
      text-decoration: none;
      margin: 10px 10px;
      font-size: 20px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer;

      &:before{
        position: absolute;
        opacity: 0.5;
        height: 95%;
        width: 2px;
        content: '';
        background: $hover-color;
        transition: all 150ms;
      }
      &:after{
        position: absolute;
        opacity: 0.5;
        height: 95%;
        width: 2px;
        content: '';
        background: $hover-color;
        transition: all 200ms;
      }
      &:before{
        left: 0px;
        top: 0px;
      }
      &:after{
        right: 0px;
        bottom: 0px;
      }
      &:hover:after {
        opacity: 1;
        height: 2px;
        width: 100%;
      }
      &:hover:before {
        opacity: 1;
        height: 2px;
        width: 100%;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 200;
  width: 100%;
  transform: translateY(0);
  transition: transform 100ms;

  &.nav-open {
    transform: translateY(100%);
  }

  .footer-wrapper {
    padding-top: 31px;
    padding-bottom: 20px;
    background-image: url($dark-pattern);

    &:before {
      display: block;
      content: "";
      //background-image: url($white-pattern-style-top);
      width: 100%;
      top: -1px;
      position: absolute;
      height: 15px;
    }

    .carBrands {
      width: 100%;
    }
  }
}

.home-header {
  background-image: url($body-pattern);
  color: $font-dark;

  .home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .homeImage {
      flex-basis: 70%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .carousel {
    .slide-control-style {
      color: $menu-icon-color;
    }

    .carousel-indicators {
      margin-bottom: 105px;

      li {
        background-color: $menu-icon-color;
      }
    }
  }
}



