.magdyNav {
  @import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
  * {
    box-sizing: border-box;
  }
  :root {
    --speed: 0.85;
    --primary: #fff;
    --size: 30;
    --ease: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  body {
    background: #fafafa;
    font-family: "Alata", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
  }
  main {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
  }
  section {
    align-items: center;
    display: flex;
    font-size: 3rem;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: center;
    width: 100vw;
  }
  .menu {
    position: fixed;
    z-index: 100;
  }
  .menu__toggle {
    opacity: 0;
    position: absolute;
  }
  .menu__toggle:checked ~ .menu__content .menu__item {
    --active-x: var(--x);
    --active-y: var(--y);
    --scale: 1;
  }
  .menu__toggle:checked ~ .menu__toggle-label:not(.menu__toggle-label--closer) {
    --clip: circle(1000% at 0% 0%);
    height: 100vh;
    width: 100vw;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .menu__toggle:checked ~ .menu__toggle-label .menu__icon:nth-of-type(1) {
    --scale: 0;
  }
  .menu__toggle:checked ~ .menu__toggle-label .menu__icon:nth-of-type(2) {
    --scale: 1;
  }
  .menu__toggle-label {
    cursor: pointer;
    height: calc(var(--size, 20) * 0.5vmin);
    width: calc(var(--size, 20) * 0.5vmin);
    display: block;
    --clip: circle(100% at 0% 0%);
    -webkit-clip-path: var(--clip);
    clip-path: var(--clip);
    position: absolute;
    top: 0;
    left: 0;
    transition: backdrop-filter calc(var(--speed, 1) * 1s) var(--ease),
      clip-path 0s, -webkit-clip-path 0s;
  }
  .menu__toggle-label--closer {
    z-index: 3;
    --scale: 0;
  }
  .menu__icon {
    --scale: 1;
    height: calc(var(--size, 20) * 0.25vmin);
    width: calc(var(--size, 20) * 0.25vmin);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -70%) scale(var(--scale, 1));
    fill: var(--white);
    transition: all calc(var(--speed, 1) * 1s) var(--ease);
  }
  .menu__icon:nth-of-type(2) {
    --scale: 0;
  }
  .menu__content {
    // background: hsl(var(--hue, 0), 50%, 50%);
    background-color: red;
    margin: 0;
    display: block;
    list-style-type: none;
    z-index: -1;
    filter: url("#goo");
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    left: 0;
    z-index: 2;
  }
  .menu__content:after {
    // background: hsl(var(--hue, 0), 50%, 50%);
    background-color: red;
    content: "";
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: calc(var(--size, 20) * 1vmin);
    width: calc(var(--size, 20) * 1vmin);
    top: 0;
    left: 0;
  }
  
  .menu__item {
    // background: hsl(var(--hue, 0), 50%, 50%);
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    height: calc(var(--size, 20) * 1vmin);
    left: calc(var(--active-x, 0) * 1vw);
    overflow: hidden;
    place-items: center;
    position: absolute;
    text-align: center;
    top: calc(var(--active-y, 0) * 1vh);
    transform: translate(-50%, -50%) scale(var(--scale, 0.75));
    transition :all calc(var(--speed, 1) * 1s) calc(var(--delay, 0) * 1s);
    width: calc(var(--size, 20) * 1vmin);
  }
  @media (min-width: 768px) {
    .menu__item {
      font-size: 3rem;
    }
  }
  .menu__item:nth-of-type(1) {
    --delay: 0.1;
    --x: 35;
    --y: 35;
  }
  .menu__item:nth-of-type(2) {
    --delay: 0.2;
    --x: 65;
    --y: 35;
  }
  .menu__item:nth-of-type(3) {
    --delay: 0.3;
    --x: 35;
    --y: 65;
  }
  .menu__item:nth-of-type(4) {
    --delay: 0.4;
    --x: 65;
    --y: 65;
  }
  .menu__link {
    align-items: center;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
  #anthing {
    --hue: 70.19766086162119;
  }

  #item1 {
    --x: 27;
    --y: 17;
  }
  #item2 {
    --x: 48;
    --y: 40;
  }
  #item3 {
    --x: 27;
    --y: 71;
  }
  #item4 {
    --x: 64;
    --y: 56;
  }
  #item5 {
    --x: 53;
    --y: 75;
  }
  #item6 {
    --x: 68;
    --y: 17;
  }
  #item7 {
    --x: 10;
    --y: 25;
  }
  #item8 {
    --x: 32;
    --y: 45;
  }
  #item9 {
    --x: 12;
    --y: 50;
  }
  #item10 {
    --x: 50;
    --y: 15;
  }
  #item11 {
    --x: 8;
    --y: 75;
  }
  #item12 {
    --x: 75;
    --y: 80;
  }
  #item13 {
    --x: 40;
    --y: 85;
  }
  #item14 {
    --x: 82;
    --y: 30;
  }
  #item15 {
    --x: 85;
    --y: 60;
  }
  #item16{
    position: absolute; left: 100%;
  }
}

