

$body-pattern: 'assets/Images/body-pattern.jpg';
$dark-pattern: "assets/Images/dark-pattern.jpg";
$blog-details-img: "CarReact\car-react\src\assets\Images\blog.jpg";
$white-pattern-style-top: "assets/Images/bottom-pattern.png";
$white-pattern-style-side: "assets/Images/side battern.png";
$menu-icon-color: black;
$hover-color: #4c8f48;
$light-color: white;
$font-dark: black;

//nav bar variables
$font-family: "Open Sans", sans-serif;
$font-size: 1em;

$color-body: #e2e2e2;
$color-text: #282828;
$color-menu: #fcfcfc88;

$variable-menu-animation-time: 1.25s;
$variable-burger-animation-time: 0.75s;

$variable-menu-animation-function: cubic-bezier(0.25, 0.1, 0.25, 1);
$variable-burger-animation-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
//----------
