.myProfile{
    background-color: $body-pattern;
    .profileLeft{
        margin-top: 10%;
        padding: 15px;
        border: 2px solid saddlebrown;
    }
    .profileright{
        margin-top: 10%;
        padding: 15px;
        border: 2px solid saddlebrown;
    }
}