.myProfile{
    background-color: $body-pattern;
    
    .profileLeft{
        background-image: url("../"+$dark-pattern);
        margin-top: 10%;
        padding: 15px;
        // border: 2px solid saddlebrown;
        text-align: center;
    }
    .profileright{
        background-image: url("../"+$dark-pattern);
        // background-color: #010003;
        // background-image: url("https://www.transparenttextures.com/patterns/polonez-pattern.png");
        margin-top: 10%;
        padding: 15px;
        // border: 2px solid saddlebrown;
        .profileRightContent{
            color: aliceblue;
            margin: 10% 0 0 10%;
        }
    }
}