.productList {
  margin-right: 20px;
  .adjust {
    margin-top: 10%;
  }
  h2 {
    border: 3px solid grey;
    padding: 30px;
    width: 600px;
    border-radius: 30px;
    position: relative;
    right: 50px;
    background-color: rgba(128, 128, 128, 0.397);
  }
}
