.profpic{
  body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
 }
  .container {
    max-width: 960px;
    // margin: 30px auto;
    // padding: 10px;
    height: 200px;
 }
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 30px auto;
 }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
 }
  .avatar-upload .avatar-edit input {
    display: none;
 }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #000000;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
 }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
 }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #beb8b8;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
 }
  .avatar-upload .avatar-preview {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    border: 3px solid #000000;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
 }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
  
}